<div>
  {{#with main}}
    <main>
      <section>
        {{> title data="Work history" big=true}}
          <div>
            <p>
              <ul>
                {{#each works}}
                  <li>
                    <div>
                      {{position}}
                    </div>
                    <br>
                    <div>
                      {{duration.from}} - 
                      {{#if duration.to}} 
                      {{duration.to}} 
                      {{else}} 
                      Працюю по теперішній час 
                      {{/if}}
                    </div>
                    <br>
                    <div>
                      {{#if  company.url}}
                      {{> link href=company.url text=company.name blank=true noLine=true}}
                      {{else}}
                        <b> {{company.name}} </b><br>
                      {{/if}}
                    </div>
                    <br>

                    <div>
                      <strong>
                        projects ({{projectAmount}})
                      </strong>
                    </div>
                    <br>
                    <div>
                      <ul>
                        {{#each projects}}
                          <li>
                            <div>
                              {{> link href=url text=name blank=true noLine=true}}
                            </div>
                            <br>
                            <div>
                              <p>
                                {{about}}
                              </p>
                            </div>
                            <br>
                            <div>
                              <em>
                                Project stacks ({{stackAmoGnt}})
                              </em>
                            </div>
                            <br>
                            <div>
                              <ul>
                                {{#each stacks}}
                                  <li>
                                    {{name1}}
                                    {{name2}}
                                    {{name3}}
                                  </li>
                                {{/each}}
                              </ul>
                            </div>
                            <br>
                            <div>
                              <em>
                                Project awards
                              </em>
                            </div>
                            <br>
                            <div>
                              <ul>
                                {{#each awards}}
                                  <li>
                                    {{name1}}
                                    {{name2}}
                                  </li>
                                {{/each}}
                              </ul>
                            </div>
                          </li>
                        {{/each}}
                      </ul>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </p>
          </div>
      </section>  
    </main>
  {{/with}}
</div>